﻿@using System.Collections.Generic;

@{ 
    List<string> one = new List<string>
    {
        "Hello ",
        "there ",
        "you... ",
    };

    List<string> two = new List<string>
    {
        "you ",
        "know ",
        "me. ",
    };

    List<string> three = new List<string>
    {
        "I",
        "am",
        "Death",
    };
}

@{ 
    <button onclick="runSentence()">Click Me!</button>
    for (int i = 0; i < one.Count; i++)
    {
        <p>@one[i]</p>
    }

    foreach (string x in two)
    {
        <p>@x</p>
    }

    int counter = 0;
    while (counter < three.Count)
    {
        <p>@three[counter]</p>
        counter++;
    }
}

<script>
    function runSentence() {
        alert("Oh Noes!");
    }
</script>